table td,
table th {
  padding: 12px;
}
button {
  float: right;
}
#page-title {
  text-align: center;
}
.main-container {
  padding: 16px;
}
.transactions-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  width: 100%;
  max-width: 500px;
}
#back-link {
  margin: 16px;
  color: white;
}
.empty-state {
  text-align: center;
}
.input-container {
  width: 40%;
  min-width: 250px;
  max-width: 350px;
  display: flex;
}
.input-container input {
  height: 30px;
  width: 100%;
  background: #595959;
  border: none;
  margin-bottom: 16px;
  border-radius: 4px;
  color: white;
  padding: 4px;
  font-size: 1.1rem;
  text-align: center;
}
.input-container input:focus {
  outline: none;
}
