<div class="main-container">
  <h1 id="page-title">CNPJ: {{ currentCnpj }}</h1>
  <div *ngIf="transactions.length" class="transactions-table-container">
    <table #transactionsTable mat-table [dataSource]="transactions" class="mat-elevation-z8">
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.descricao }}
        </td>
      </ng-container>
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.cliente }}
        </td>
      </ng-container>
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.valor }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <a id="back-link" routerLink="/" routerLinkActive="active">Home</a>
  </div>
  <div class="empty-state" *ngIf="!transactions.length">
    <span>Adicione sua primeira transação</span>
  </div>
  <div class="example-button-container">
    <button (click)="addTransaction()" mat-mini-fab color="primary" aria-label="Add transaction button">
      <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon>
    </button>
  </div>
</div>
