<h2>Adicionar Transação</h2>
<ul>
  <li>
    <label>Descrição</label>
    <input placeholder="Ex: Almoço em Restaurante" matInput [(ngModel)]="data.descricao" />
  </li>
  <li>
    <label>Cliente</label>
    <input placeholder="Ex: 098.561.660-12" matInput [(ngModel)]="data.cliente" />
  </li>
  <li>
    <label>Valor</label>
    <input placeholder="Ex: R$ 50,00" matInput [(ngModel)]="data.valor" />
  </li>
  <li>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button
      (click)="submitDialog()"
      mat-raised-button
      color="primary"
      mat-dialog-close
    >
      Adicionar
    </button>
  </li>
</ul>
