<h2>Adicionar Transação</h2>
<ul>
  <li>
    <label>Descrição *</label>
    <input
      placeholder="Ex: Almoço em Restaurante"
      matInput
      [(ngModel)]="data.descricao"
    />
  </li>
  <li>
    <label>Cliente *</label>
    <input
      placeholder="Ex: 098.561.660-12"
      matInput
      [(ngModel)]="data.cliente"
      mask="000.000.000-00"
      maxlength="14"
    />
  </li>
  <li>
    <label>Valor *</label>
    <input
      placeholder="Ex: R$ 50,00"
      matInput
      [(ngModel)]="data.valor"
      mask="separator.2"
      [thousandSeparator]="'.'"
      [decimalMarker]="','"
      prefix="R$ "
      type="text"
      [dropSpecialCharacters]="false"
    />
  </li>
  <li>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button
      (click)="submitDialog()"
      mat-raised-button
      color="primary"
      mat-dialog-close
      [disabled]="!data.descricao || !data.valor || !data.cliente || data.cliente.length < 11"
    >
      Adicionar
    </button>
  </li>
</ul>
