<div class="cnpj-container">
  <ul class="cnpj-list">
    <li class="cnpj-item">
      <mat-card class="cnpj-insert">
        <input [dropSpecialCharacters]="false" mask="00.000.000/0000-00" placeholder="ex: 57.312.254/0001-62" [(ngModel)]="cnpjInput" name="input" />
        <span *ngIf="hasCnpj()">Estabelecimento com CNPJ existente</span>
        <button [disabled]="hasCnpj() || cnpjInput.length < 18" [disabled] (click)="addCnpj()" mat-raised-button color="primary">
          Adicionar CNPJ
        </button>
      </mat-card>
    </li>
    <li class="cnpj-item" *ngFor="let establishment of establishments">
      <mat-card (click)="openTransactions(establishment.cnpj)">{{ establishment.cnpj }}</mat-card>
    </li>
  </ul>
</div>
